div#preloader { 
  position: fixed; 
  left: 0; 
  top: 0;
  z-index: 999; 
  width: 100%; 
  height: 100%; 
  overflow: visible; 
  background: rgba(42,63,84,0.4) url('../img/ajax-loader.gif') no-repeat center center; 
}